body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(78,101,206); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(78,101,206,1) 1%, rgba(0,53,198,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(78,101,206,1) 1%,rgba(0,53,198,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(78,101,206,1) 1%,rgba(0,53,198,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

